{deps, [
  {ranch, "1.1.0", {git, "https://github.com/ninenines/ranch.git", {tag, "1.1.0"}}},
  {poolboy, "1.4.2", {git, "https://github.com/devinus/poolboy.git",{tag, "1.4.2"}}}
  %%,{finger_tree, ".*", {git ,"https://github.com/kgyokov/finger_tree.git",{branch, "develop"}}}
]}.

{relx,
  [
    {release,
      {mqtt,"0.0.5"},
      [mqtt,sasl]},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}
  ]
}.

{profiles,
  [
    {prod,
      [
        {relx, [{dev_mode, false},
          {include_erts, true}]}
      ]
    },
    {test,
      [
        {erl_opts, [debug_info]}
      ]
    }
  ]
}.